<!DOCTYPE html>
<!--[if IE 8]>    <html class=" no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class=" no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=" no-js" lang="en"> <!--<![endif]-->
  <head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, viewport-fit=cover">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="application-name" content="Kogekampen">
		<meta name="description" content="Kogekampen er tilbage! Vi fortsætter successen fra 2017 og afholder årets fedeste konkurrence lørdag d. 15. september 2018. Der vil være en Rx række og Scaled række, hvor både nye og øvede atleter vil blive udfordret!">

		<meta property="og:type" name="og:type" content="website">
		{{#if competition}}
			<meta property="og:title" name="og:title" content="{{competition.name}}">
			<meta property="og:image" name="og:image" content="https://kogekampen.dk/uploads/{{competition.socialBanner.filename}}">
		{{else}}
			<meta property="og:title" name="og:title" content="Kogekampen">
			<meta property="og:image" name="og:image" content="https://kogekampen.dk/images/social_banner.jpg">
		{{/if}}
		<meta property="og:url" name="og:url" content="https://kogekampen.dk{{uri}}">

		<meta name="theme-color" content="#ffffff">

		<link rel="canonical" href="https://kogekampen.dk{{uri}}">

    <title>Kogekampen</title>

    <!-- Prefetch DNS for external assets (Twitter widgets etc). -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//themes.googleusercontent.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">


    <link rel="stylesheet" href="/styles/site.css?v1.2">

		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">

	    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,400italic,700' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

	    {{{isAdminEditorCSS user}}}

  	</head>
	<body>
	    <div class="popup-flash">
	      <div class="element">
	        <button data-action="popup-flash-close" class="btn--primary" type="button">OK</button>
	      </div>
	    </div>
	  	<header class="header-main {{#if showHeaderInitial}}black-header{{/if}}">
			<div class="header-inner">
				{{#if showBackToHome}}
				<a href="#" class="back-to-home" data-action="historyBack">
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="30" viewBox="250 246 12 20"><path fill="#FFF" d="M262 264.787L260.706 266 250 256l10.706-10 1.294 1.206-9.406 8.794z"/></svg>
				</a>
				<h2 class="center">{{title}}</h2>
				{{/if}}
				{{#unless showBackToHome}}
					<a href="/">
						<div class="logo-top"></div>
					</a>
					<a href="javascript:void(0)" class="right bars">
						<span></span>
						<span></span>
						<span></span>
					</a>
					<nav class="right">
						<ul class="list-unstyled">
							{{#if competition}}
								{{#if wods}}
									<li>
										<a href="#wods">WODS</a>
									</li>
								{{/if}}
								{{#if competition.showAthleteSection}}
									{{#unless competition.showTeams}}
										<li>
											<a href="/{{competition.key}}/teams">tilmeldinger</a>
										</li>
									{{/unless}}
								{{/if}}
								{{#if competition.showTeams}}
									<li>
										<a href="/{{competition.key}}/teams">TEAMS</a>
									</li>
								{{/if}}
								{{#if competition.showResultSection}}
									<li>
										<a href="/{{competition.key}}/resultater">resultater</a>
									</li>
								{{/if}}
								{{#if competition.showScheduleSection}}
									<li>
										<a href="/{{competition.key}}/tidsplan">tidsplan</a>
									</li>
								{{/if}}
							{{/if}}
							{{#unless competition}}
								<li>
									<a href="/om-kogeriet">Om kogeriet</a>
								</li>
							{{/unless}}
						</ul>
					</nav>
				{{/unless}}
			</div>
		</header>
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery.easing.min.js"></script>
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
		<script src="/js/selectordie.min.js"></script>
		<script src="/js/jquery.downcount.min.js"></script>
		<script src="/js/jquery.smooth-scroll.min.js"></script>
		<script src="/js/all.js?v1.1"></script>
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-71029383-1', 'auto');
			ga('send', 'pageview');
		</script>
		{{{isAdminEditorJS user}}}
		{{{body}}}
	  	<footer class="footer-main">
			<div class="container">
				<small>
					Contact <a href="https://github.com/ajarbol" target="_blank">@ajarbol</a> with any problems <span class="glyphicon glyphicon-heart"></span>
				</small>
				<div class="social-links right">
					<a href="https://www.crossfitcopenhagen.dk/gyms/kogeriet/" target="_blank">
						<span class="glyphicon glyphicon-home"></span>
					</a>
					<a href="https://www.facebook.com/groups/854519947947397/" target="_blank" style="padding-top:3px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			 viewBox="0 0 155.139 155.139" style="enable-background:new 0 0 155.139 155.139;" xml:space="preserve">
							<g>
								<path d="M89.584,155.139V84.378h23.742l3.562-27.585H89.584V39.184
									c0-7.984,2.208-13.425,13.67-13.425l14.595-0.006V1.08C115.325,0.752,106.661,0,96.577,0C75.52,0,61.104,12.853,61.104,36.452
									v20.341H37.29v27.585h23.814v70.761H89.584z"/>
							</g>
						</svg>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</footer>
	</body>
</html>
