{{!< default}}
  	<main>
	  	<div class="popup register-popup">
			<div class="overlay-popup"></div>
			<div class="content-popup">
	        	<a href="javascript:void(0)" class="close-popup">&times;</a>

				<h2 class="text-center uppercase">Tilmeldning</h2>
				<form data-action="athlete-form" class="contact-form">
					<input type="hidden" name="eventId" value="5d5cb843f06cbf684b27316c">
					<input type="text" class="input input--primary" name="name" placeholder="NAVN">
					<select name="gender" data-placeholder="Køn">
						<option value=""></option>
			            <option value="male">Mand</option>
			            <option value="female">Kvinde</option>
			        </select>
					<select name="division" data-placeholder="Hvilket niveau er du?">
			            <option value=""></option>
			            <option value="scaled">Mindre øvet</option>
			            <option value="rx">Øvet</option>
			        </select>
					<br>
					<button class="big-blue-btn" type="submit">TILMELD</button>
				</form>
			</div>
	  	</div>
	  	<div class="popup rsvp-popup">
			<div class="overlay-popup"></div>
			<div class="content-popup">
	        	<a href="javascript:void(0)" class="close-popup">&times;</a>

				<h2 class="text-center uppercase">Tilmelding til spisning ved Kogeriets sommerfest 2016</h2>
				<h5 class="text-center light">Prisen for deltagelse til spisning er 50 kr. Pengene skal overføres med navn via MobilePay på 28780213.</h5>
				<form data-action="rsvp-form" class="contact-form">
					<input type="hidden" name="eventId" value="5d5cb843f06cbf684b27316c">
					<input type="text" class="input input--primary" name="name" placeholder="NAVN">
					<input type="text" class="input input--primary" name="phone" placeholder="TELEFON NUMMER">
			        <p><em>HUSK! Deltagelse er først gældende når du har indbetalt de 50 kr på MobilePay</em></p>
					<br>
					<button class="big-blue-btn" type="submit">TILMELD</button>
				</form>
			</div>
	  	</div>

	  	<div class="subheader" id="subheader-section" style="background-image:url('/uploads/{{competition.coverImage.filename}}')">

		    <article>
		    	<div class="container counter-compensation">
					<img src="/uploads/{{competition.logoImage.filename}}" alt="" class="logo">
		    	  	<!--<a href="javascript:void(0)" class="btn--primary rsvp-now">TILMELD DIG FESTEN<span class="party-icon"></span></a>-->
		    	  {{#if competition.ticketUrl}}
			    	  {{#if hasCountdown}}
			    	  	<a href="javascript:void(0)" class="btn--primary register-now">TILMELDING<span class="biceps-icon"></span></a>
			    	  {{/if}}
			    	{{/if}}
		    	</div>
		    {{#if hasCountdown}}
	    		<div class="counter">
			    	<ul class="countdown">
				        <li>
				            <span class="days">--</span>
				            <p class="days_ref">days</p>
				        </li>
				        <li>
				            <span class="hours">--</span>
				            <p class="hours_ref">hours</p>
				        </li>
				        <li>
				            <span class="minutes">--</span>
				            <p class="minutes_ref">minutes</p>
				        </li>
				        <li>
				            <span class="seconds">--</span>
				            <p class="seconds_ref">seconds</p>
				        </li>
				    </ul>
			    </div>
				{{else}}
					{{#if schedules.length}}
		    		<a href="/{{competition.key}}/tidsplan" class="info-box">
		    			<ul>
		    				{{#each schedules}}
		    					<li>
		    						<div class="schedule-up"><span>{{#if @first}}Lige nu:{{else}}Om <span data-role="schedule-time">{{this.minutes}}</span> minutter:{{/if}}</span> {{this.text}}</div>
		    					</li>
		    				{{/each}}
		    			</ul>
		    		</a>
		    	{{/if}}
				{{/if}}
		    </article>
	  	</div>

	  	<section class="info-section" id="info">
	  		<div class="container">
		  		<h1>INFO</h1>
		  		{{{competition.description}}}
	    	  {{#if competition.ticketUrl}}
		    	  {{#if hasCountdown}}
			    	  <div class="center">
			    	  	<a href="javascript:void(0)" class="btn--primary btn--static register-now" style="width: 300px;">TILMELDING</a>
			    	  </div>
		    	  {{/if}}
		    	{{/if}}
			    {{#if competition.rxRequirements}}
						<div class="row requirement-boxes">
							<div class="col-sm-6">
								<article style="background-image:url('/images/rx.jpg');">
									<div>
									{{{competition.rxRequirements}}}
									</div>
								</article>
							</div>
							<div class="col-sm-6">
								<article style="background-image:url('/images/skaleret.jpg');">
									<div>
										{{{competition.scaledRequirements}}}
									</div>
								</article>
							</div>
						</div>
			  	{{/if}}
			  </div>
	  	</section>
	  	{{#if wods.length}}
		  	<section class="wods-section gray-section" id="wods">
		  		<div class="container">
			  		<h1>WODS</h1>
			  		<form class="wod-control">
			  			{{#if competition.hasMultiLevel}}
				  			<h3>Vælg en række:</h3>
				  			<select data-action="division-select">
					            <option value="rx" selected>RX række</option>
					            <option value="scaled">Skaleret række</option>
					        </select>
					    {{/if}}
				  		<div class="row">
				  		{{#each wods}}
				  			<div class="col-sm-3">
				  				<button class="btn--primary btn--black {{#if @first}}active{{/if}}" {{#unless rx}}disabled{{/unless}} data-action="wod-selector" data-target="{{@index}}">
					  				{{#if finisher}}
					  					Finale
					  				{{else}}
					  					#{{math @index "+" 1}}
					  				{{/if}}
				  					<br/>
				  					{{#if released}}{{name}}{{else}}?{{/if}}
				  				</button>
				  			</div>
				  		{{/each}}
				  		</div>
				  		<hr>
				  		{{#each wods}}
				  			{{#if @first}}
						  		<article class="workout-desc">
							  		<div class="desc-wrap">
							  			{{{rx.desc}}}
							  		</div>	
						  			{{#if rx.embedUrl}}
						  				<div class="video-wrap">
						  					<iframe src="{{rx.embedUrl}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						  				</div>
						  			{{/if}}
						  		</article>
						  	{{/if}}
					  	{{/each}}
				  	</div>
		  		</div>
		  	</section>
		  {{/if}}
		  {{#if competition.hasSponsor}}
			  <section>
			    <div class="container">
			    	<h1>I partnerskab med</h1>
		        <div class="row">
		        	{{#if competition.bodyLabBanner}}
			        	<div class="col-xs-12 col-md-6">
							  	<a href="https://www.bodylab.dk/" target="_blank">
					          <div class="sponsor-card">
					            <div class="graphic-wrapper">
					              <div class="graphic-overlay"></div>
					              <div class="graphic hide-xs" style="background-image: url('/images/bodylab.jpg');"></div>
					              <div class="graphic show-xs" style="background-image:url('/images/bodylab-mobile.jpg')"></div>
					            </div>
					          </div>
					        </a>
					      </div>
					    {{/if}}
					    {{#if competition.noccoBanner}}
			        	<div class="col-xs-12 col-md-6">
							  	<a href="https://nocco.dk/" target="_blank">
					          <div class="sponsor-card">
					            <div class="graphic-wrapper">
					              <div class="graphic-overlay"></div>
					              <div class="graphic" style="background-image: url('/images/nocco.jpg');"></div>
					            </div>
					          </div>
					        </a>
					      </div>
					    {{/if}}
					    {{#if competition.barebellsBanner}}
					      <div class="col-xs-12 col-md-6">
									<a href="https://barebells.dk/" target="_blank">
					          <div class="sponsor-card">
					            <div class="graphic-wrapper">
					              <div class="graphic-overlay"></div>
					              <div class="graphic hide-xs" style="background-image: url('/images/barebells.jpg');"></div>
					              <div class="graphic show-xs" style="background-image: url('/images/barebells-mobile.jpg');"></div>
					            </div>
					          </div>
					        </a>
					      </div>
					    {{/if}}
					    {{#if competition.kimsBanner}}
					      <div class="col-xs-12 col-md-6">
									<a href="https://www.kims.dk/" target="_blank">
					          <div class="sponsor-card">
					            <div class="graphic-wrapper">
					              <div class="graphic-overlay"></div>
					              <div class="graphic" style="background-image: url('/images/kims.jpg');"></div>
					            </div>
					          </div>
					        </a>
					      </div>
					    {{/if}}
					    {{#if competition.clnBanner}}
					      <div class="col-xs-12 col-md-6">
									<a href="https://www.clnathletics.com/" target="_blank">
					          <div class="sponsor-card">
					            <div class="graphic-wrapper">
					              <div class="graphic-overlay"></div>
					              <div class="graphic" style="background-image: url('/images/cln.jpg');"></div>
					            </div>
					          </div>
					        </a>
					      </div>
					    {{/if}}
			      </div>
			    </div>
			  </section>
			{{/if}}
	  	<section class="p-0">
	  		<div class="map">
				<div id="map"></div>
				<div class="map-info-box">
		            <div class="map-info">
		            	<h5>Adressen</h5>
		            	<p>{{competition.location.name}}</p>
		            	<p>{{competition.location.street1}}, {{competition.location.postcode}} {{competition.location.suburb}}</p>
		            	<h5>Tidspunktet</h5>
		            	<p>{{competition.prettyTime}}</p>
			        </div>
		        </div>
			</div>
		</section>
  	</main>
  	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{competition.googleMapsApi}}&callback=initMap"></script>
  	<script>
  		var initMap = function() {
			var styles = [
				{
					"featureType": "administrative",
					"stylers": [
					{ "visibility": "off" }
					]
				},
				{
					"featureType": "poi",
					"stylers": [
						{ "visibility": "off" },
						{ "color": "#ffffff" }
					]
				},
				{
					"featureType": "road",
					"stylers": [
						{ "visibility": "on" },
						{ "color": "#ffffff" }
					]
				},
				{
					"featureType": "transit",
					"stylers": [
						{ "visibility": "off" }
					]
				},
				{
					"featureType": "landscape",
					"stylers": [
						{ "visibility": "on" },
						{ "color": "#B3B3B3" }
					]
				},
				{
					"featureType": "water",
					"stylers": [
						{ "visibility": "on" },
						{ "color": "#14a1fb" }
					]
				}
			];

			var coords = [{{competition.location.geo}}];
			var styledMap = new google.maps.StyledMapType(styles, {name: "Kogeriet Map"});

			var mapOptions = {
				zoom: 14,
				center: new google.maps.LatLng(coords[0]-0.0025, coords[1]+0.01),
				scrollwheel: false,
				zoomControl: false,
				mapTypeControl: false,
				streetViewControl: false,
				disableDefaultUI: false,
				draggable: false
			};
			var map = new google.maps.Map(document.getElementById('map'), mapOptions);

			var marker1 = new google.maps.Marker({
			    position: new google.maps.LatLng(coords[0], coords[1]),
			    map: map,
			    icon: 'images/pin.svg'
			});
			map.mapTypes.set('map', styledMap);
			map.setMapTypeId('map');
  		}
  		$(function(){
  			window.addPopup($('.register-popup'), $('.register-now'));
  			window.addPopup($('.rsvp-popup'), $('.rsvp-now'));

			$('.countdown').downCount({
		        date: '{{{competition.startTime}}}',
		        offset: 0
		    }, function () {
		    	$('.countdown').hide();
		    	$('.register-now').hide();
		    });

		    //timer
		    var times = $('[data-role="schedule-time"]');
		    if (times) {
		    	var timeout = null;
		    	var oneTheMinute = function () {
		    		$.each(times, function(i, time){
		    			var num = $(time).text() - 1;
		    			if (num < 0) {
		    				window.location.reload();
		    			}
		    			else {
		    				$(time).text(num);
		    			}
		    		});
		    		timeout = setTimeout(oneTheMinute, 1000 * 60);
		    	}
		    	setTimeout(oneTheMinute, 1000 * 60);
		    }

			// WOD CTRL
			var wods = {{{json wods}}};
			var wodIndex = 0;
			var wodDivision = 'rx';

			var setWod = function(wod){
				var wodHtml = '<div class="desc-wrap">'+wod.desc+'</div>';
				if (wod.embedUrl) wodHtml += '<div class="video-wrap"><iframe src="'+wod.embedUrl+'" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>';
				$('.workout-desc').html(wodHtml);
			}

			$('[data-action="division-select"]').change(function(e){
				e.preventDefault();
				var division = $(this).val();
				if (division != wodDivision && wods[wodIndex] && wods[wodIndex][division]) {
					setWod(wods[wodIndex][division]);
					wodDivision = division;
				}
			});

			var cleanState = function(el) {
				$(el).parent().find('.close-popup').click();
			    $(el)[0].reset();
			    $(el).find('[type="submit"]').removeAttr('disabled');	
			}
			var handleError = function(el, error) {
				if (error) {
					showNotification("Hov! 😅", error);	
				}
				else {
					showNotification("Hov! 😅", "Et eller andet gik galt, prøv igen..." , "error");
				}
				$(el).find('[type="submit"]').removeAttr('disabled');
			}

			$('[data-action="wod-selector"]:not(:disabled)').click(function(e){
				e.preventDefault();
				var index = $(this).data('target');
				$('[data-action="wod-selector"]').removeClass('active');
				$(this).addClass('active');
				if (index != wodIndex && wods[index] && wods[index][wodDivision]) {
					setWod(wods[index][wodDivision]);
					wodIndex = index;
				}
			});
		    $('[data-action="athlete-form"]').on('submit',function(e){
		    	e.preventDefault();
		    	$(this).find('[type="submit"]').attr('disabled', 'disabled');
		    	var data = {};
		    	$.each($(this).serializeArray(), function (i, field) {
		    		if (field.value) data[field.name] = field.value;
		    	});
				$.ajax({
					url: '/api/athlete', 
					type: 'POST',
					data: data,
					success: $.proxy(function(response) {
					    cleanState(this);
					    showNotification("Perfekt! 👊", "Din tilmelding er modtaget, vi glæder os til at se dig." , "success");
					}, this),
					error: $.proxy(function(response) {
						handleError(this, response.responseJSON.error);
					}, this)
				});
	        });
	        $('[data-action="rsvp-form"]').on('submit',function(e){
		    	e.preventDefault();
		    	$(this).find('[type="submit"]').attr('disabled', 'disabled');
		    	var data = {};
		    	$.each($(this).serializeArray(), function (i, field) {
		    		if (field.value) data[field.name] = field.value;
		    	});
				$.ajax({
					url: '/api/rsvp', 
					type: 'POST',
					data: data,
					success: $.proxy(function(response) {
					    cleanState(this);
					    showNotification("Fedt! 🍉", "Din tilmelding er modtaget, vi glæder os til at se dig." , "success");
					}, this),
					error: $.proxy(function(response) {
						handleError(this, response.responseJSON.error);
					}, this)
				});
	        });
		});
  	</script>