{{!< default}}
  <main>
    <section class="teams-section gray-section">
      {{#if competition.showTeams}}
        <div class="container header-compensation">
          <h1>RX Række</h1>
          <div class="row">
            {{#each rxTeams}}
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="teams-box">
                  <a class="anchor" name="{{name}}"></a> 
                  <h3 class="text-center">{{name}}</h3>
                  <ul>
                    {{#each athletes}}
                      <li><div class="image" style="background-image: url('{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture?width=300{{else}}/images/default_{{gender}}.png{{/if}}')"></div><div class="name">{{name}}</div></li>
                    {{/each}}
                  </ul>
                  <span class="badge">RX</span>
                </div>
              </div>
            {{/each}}
          </div>
          <h1>Skaleret Række</h1>
          <div class="row">
            {{#each scaledTeams}}
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="teams-box">
                  <a class="anchor" name="{{name}}"></a>
                  <h3 class="text-center">{{name}}</h3>
                  <ul>
                    {{#each athletes}}
                      <li><div class="image" style="background-image: url('{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture?width=300{{else}}/images/default_{{gender}}.png{{/if}}')"></div><div class="name">{{name}}</div></li>
                    {{/each}}
                  </ul>
                  <span class="badge">SKALERET</span>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}
      {{#unless competition.showTeams}}
        <div class="container header-compensation" style="max-width: 1000px;">
          <h1>TEAMS</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="athletes-box">
                <h2>RX Række</h2>
                <div class="row">
                  {{#each rxAthletes}}
                  <div class="col-xs-6">
                    <ul>
                      {{#each this}}
                        <li><img src="{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture{{else}}/images/default_{{gender}}.png{{/if}}"><span>{{name}}</span></li>
                      {{/each}}
                    </ul>
                  </div>
                  {{/each}}
                </div>
                {{#if rxWaitlist}}
                  <h4>På venteliste</h4>
                  <div class="row">
                    {{#each rxWaitlist}}
                    <div class="col-xs-6">
                      <ul>
                        {{#each this}}
                          <li><img src="{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture{{else}}/images/default_{{gender}}.png{{/if}}"><span>{{name}}</span></li>
                        {{/each}}
                      </ul>
                    </div>
                    {{/each}}
                  </div>
                {{/if}}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="athletes-box">
                <h2>Skaleret Række</h2>
                <div class="row">
                  {{#each scaledAthletes}}
                  <div class="col-xs-6">
                    <ul>
                      {{#each this}}
                        <li><img src="{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture{{else}}/images/default_{{gender}}.png{{/if}}"><span>{{name}}</span></li>
                      {{/each}}
                    </ul>
                  </div>
                  {{/each}}
                </div>
                {{#if scaledWaitlist}}
                  <h4>På venteliste</h4>
                  <div class="row">
                    {{#each scaledWaitlist}}
                      <div class="col-xs-6">
                        <ul>
                          {{#each this}}
                            <li><img src="{{#if customImage}}https://graph.facebook.com/v2.6/{{customImage}}/picture{{else}}/images/default_{{gender}}.png{{/if}}"><span>{{name}}</span></li>
                          {{/each}}
                        </ul>
                      </div>
                    {{/each}}
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/unless}}
    </section>
	</main>